@model NBD2024.Models.Bid

<partial name="_ViewHeading" />

<div>
    <h4>@Model.Project.ProjectName</h4>
    <hr />
</div>
<div>
    <!-- Nav tabs -->
    <nav>
        <div class="nav nav-tabs" id="myTabs" role="tablist">
            <button class="nav-link active" id="Basic-Tab" data-bs-toggle="tab" data-bs-target="#BasicPanel"
                    type="button" role="tab" aria-controls="BasicPanel" aria-selected="true">
                Basic Details
            </button>
         
            <button class="nav-link" id="Material-Tab" data-bs-toggle="tab" data-bs-target="#MaterialPanel"
                    type="button" role="tab" aria-controls="MaterialPanel" aria-selected="false">
                Materials
            </button>

            <button class="nav-link" id="Labour-Tab" data-bs-toggle="tab" data-bs-target="#LabourPanel"
                    type="button" role="tab" aria-controls="LabourPanel" aria-selected="false">
                Labours
            </button>
            
        </div>
    </nav>

    <!-- Tab panes -->
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" role="tabpanel" id="BasicPanel">
            <br />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BidDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BidDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Project.ProjectName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Project.ProjectName)
                </dd>
                
               
            </dl>
        </div>
    
        <div class="tab-pane fade ml-3" role="tabpanel" id="MaterialPanel" aria-labelledby="Material-tab">
            <br />
        </div>
        <div class="tab-pane fade ml-3" role="tabpanel" id="LabourPanel" aria-labelledby="Labour-tab">
            <br />
        </div>
      
    </div>
</div>
<hr />
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <!--Poner BackTo List-->
</div>
@section Scripts {
    <script type="text/javascript">
        $('.nav-link').click(function () {
            var activeTab = $(this).attr("id");
            switch (activeTab) {
                
                case 'Material-Tab': $('#MaterialPanel').load('/Bids/Material/@Model.ID');
                    break;
                case 'Labour-Tab': $('#LabourPanel').load('/Bids/ListOfLabours/@Model.ID');
                    break;
                
                default: break;
            };
        })
    </script>
}


