@model IEnumerable<NBD2024.Models.Labour>
<partial name="_ViewHeading" />

<form asp-action="Index" method="get">
<table class="table table-hover">
    <thead>
            <!--

        <tr class="table-primary">
            <th>
                Html.DisplayNameFor(model => model.HoursSummary)
            </th>
            <th>
                Html.DisplayNameFor(model => model.LabourDescription)
            </th>
            <th>
                Html.DisplayNameFor(model => model.PriceHours)
            </th>
            <th>
                Html.DisplayNameFor(model => model.LabourType)
            </th>
            <th>
                Html.DisplayNameFor(model => model.Total)
            </th>
            <th class="text-center">
                <a class="btn btn-outline-sucess" asp-action="Create">Add Labour</a>
            </th>
        </tr>
            -->
    </thead>
    <tbody>
@foreach (var item in Model) {

        <tr>
                <!--
            <td>
                Html.DisplayFor(modelItem => item.HoursSummary)
            </td>
            <td>
                Html.DisplayFor(modelItem => item.LabourDescription)
            </td>
            <td>
                Html.DisplayFor(modelItem => item.PriceHours)
            </td>
            <td>
                Html.DisplayFor(modelItem => item.LabourType.Name)
            </td>
                <td>
                    Html.DisplayFor(modelItem => item.Total)
                </td>
                    -->
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary"
                           role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
                            &#x270E;
                        </a>
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary"
                           role="button" data-bs-toggle="tooltip" title="@ViewData["ControllerFriendlyName"] Details">
                            &#x1F50E;
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary"
                           role="button" data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
                            &#x274C;
                        </a>
                    </td>
        </tr>
}
    </tbody>
</table>
   <partial name="_PagingNavBar" />
</form>
@section Scripts {
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}